image: asia-southeast2-docker.pkg.dev/production-v2-341912/image/bw-alpine-image:1.7

before_script:
  - apk add openssh 
  - apk add curl
  - apk add git
  - apk add wget

stages: 
  - release

deploy-prod:
  stage: release
  only:
    - main
  variables:
    DOCKER_DRIVER: overlay2
    DOCKER_TLS_CERTDIR: ''
    ENVIRONMENT: "production"
    GIT_STRATEGY: clone
    GIT_SUBMODULE_STRATEGY: recursive
  script:
    - mkdir ~/.ssh 
    - eval $(ssh-agent -s)
    - ssh-add <(echo "$KEY_RSA_PROD")
    - ssh -o StrictHostKeyChecking=no $ACCESS_SERVER_PROD "cd /root/ba_frontend && git checkout main && git remote set-url origin https://$TOKEN:$TOKEN@gitlab.bakingworld.id/bioai/ba_frontend.git && git pull origin main && docker compose up -d --build && exit"
  tags:
    - kube-prod
